{% extends "@FestivalCore/Layout.html.twig" %}

{% block body %}
        
    <div class="well">
        <h2 class="title"> Liste des Etablissements </h2>
        
        {% if listeEtablissement != NULL %}
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Nom Etablissement</th>
                        <th>Adresse</th>
                        <th>Ville</th>
                    </tr>
                </thead>
            {% for unEtablissement in listeEtablissement %}
                <tbody>
                    <tr class="tr-white">
                        <th><a href="{{ path('festival_etablissement_etablissement', {'id': unEtablissement.id}) }}">{{ unEtablissement.nom }}</a></th>
                        <td>{{ unEtablissement.adresse }}</td>
                        <td>{{ unEtablissement.ville }}</td>
                    </tr>
            {% endfor %}
                </tbody>  
            </table>
        {% else %}
            <li>Pas d'établissement</li>
        {% endif %}
        <p style="text-align:center">
            <a href="{{ path('festival_etablissement_ajoutetablissement') }}" class="btn btn-festival">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Ajouter un Etablissement
            </a>
  	</p>
                
        
    </div>

{% endblock %}