{% extends "@FestivalCore/Layout.html.twig" %}

{% block body %}
     
    <div class="well-festival">
        <h2 class="title"> Information du lieu : {{ unLieu.nom }} </h2>
        
        <table class="table">
                <tr class="tr-white">
                    <th>Adresse du Lieu</th>
                    <th>{{ unLieu.adresse }}</th>
                </tr>
                <tr class="tr-white">
                    <th>Capacité du lieu</th>
                    <th>{{ unLieu.capacite }}</th>
                </tr>
        </table>
                
        <p style="text-align:center">
            <a href="{{ path('festival_lieu_listelieux') }}" class="btn btn-festival">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Retour à la liste des lieux
            </a>
            <a href="{{ path('festival_lieu_modifierlieu', {'id': unLieu.id}) }}" class="btn btn-festival">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Modifier le lieu
            </a>
            <a href="{{ path('festival_lieu_effacerlieu', {'id': unLieu.id}) }}" class="btn btn-danger" onclick="return(confirm('Etes-vous sûr de vouloir supprimer ce groupe ?'));">
                <i class="glyphicon glyphicon-trash"></i>
                Supprimer le lieu
            </a>
  	</p>
                      
    </div>
                

{% endblock %}